.Main-container {
    height: calc(100vh - 2 * var(--main-container-vertical-padding));
    background-image: linear-gradient(var(--main-container-gradient-color-top), var(--main-container-gradient-color-bottom));
    padding-top: var(--main-container-vertical-padding);
    padding-bottom: var(--main-container-vertical-padding);
    padding-right: var(--main-container-horizontal-padding);
    padding-left: var(--main-container-horizontal-padding);
}

.Content-container {
    background: transparent;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    background-size: 100% 100%;
    position: relative;
}



@media (max-width: 992px) {
    .Content-container {
        background: transparent;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        background-size: 100% 100%;
    }
}

@media (max-width: 640px) {
    .Content-container {
        background: transparent;
        height: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
        background-size: 100% 100%;
    }
  }

.Info {
    background-color: transparent;
    width: 100%!important;
}

.Tools {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%!important;
}